<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div>
    <h1>Student Details</h1>
    <div th:if="${student}">
        <p>
            <strong>Name:</strong>
            <span th:text="${student.name}"></span>
        </p>
        <p>
            <strong>Student ID:</strong>
            <span th:text="${student.id}"></span>
        </p>
        <p>
            <strong>Grade:</strong>
            <span th:text="${student.grade}"></span>
        </p>
        <p>
            <strong>Comment:</strong>
            <span th:text="${student.comment}"></span>
        </p>
    </div>
    <form th:action="@{/students/{id}/grade(id=${student.id})}" method="post">
       <input type="number" min="5" max="10" name="grade">
       <input type="submit" value="Update Grade">
    </form>
    <form th:action="@{/students/{id}/comment(id=${student.id})}" method="post">
       <input type="text" name="comment">
       <input type="submit" value="Update Comment">
    </form>
    <div class="entry-action-row">
        <a th:href="@{/students}" class="button">Back to List</a>
    </div>
</div>
</body>
</html>