<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div th:if="${isTeacher}">
    <a th:href="@{/students}" class="button">Back to List</a>
</div>
<div>
    <h1>Student Details</h1>
    <div th:if="${student}">
        <p>
            <strong>Name:</strong>
            <span th:text="${student.name}"></span>
        </p>
        <p>
            <strong>Student ID:</strong>
            <span th:text="${student.id}"></span>
        </p>
        <p>
            <strong>Grade:</strong>
            <span th:text="${#numbers.formatDecimal(student.grade, 1, 2)}"></span>
        </p>
        <p>
            <strong>Comment:</strong>
            <span th:text="${student.comment}"></span>

        <div th:if="${previewTitle}" class="url-preview">
            <h3>Link Preview:</h3>
            <h4 th:text="${previewTitle}"></h4>
            <p th:text="${previewContent}"></p>
        </div>
    </div>

    <form th:if="${isTeacher}" th:action="@{/students/{id}/grade(id=${student.id})}" method="post">
        <input type="number" min="5.00" max="10.00" step="0.01" name="grade" required>
        <input type="submit" value="Update Grade">
    </form>

    <form th:action="@{/students/{id}/comment(id=${student.id})}" method="post">
        <input type="text" name="comment" required>
        <input type="submit" value="Update Comment">
    </form>

</div>
</body>
</html>